<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href={{ "/assets/css/main.css" | absolute_url }}>
    <script src="https://kit.fontawesome.com/565688f2b2.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-blue">
    <header class="container mx-auto md:h-24 md:pt-0">
      <nav class="h-full px-8 py-8 flex flex-wrap justify-between items-center">
        <a href={{ "/" | absolute_url }} class=""><span class="text-4xl text-gray-800 font-black">Π4</span></a>
        <div class="flex md:order-2">
          <a href="https://github.com/stg-tud/pi4" target="_blank" class="bg-gray-900 text-white rounded-lg px-5 py-2.5">
            Repository <i class="fab fa-github fa-lg ml-2"></i>
          </a>
        </div>
        <div class="w-full md:flex md:w-auto">
          <ul class="flex flex-col md:flex-row md:space-x-8 font-medium mt-8 md:mt-0">
            <li><a href={{ "/" | absolute_url }} class="py-2 border-b block md:border-0">Home</a></li>
            <li><a href={{ "/#about" | absolute_url }} class="py-2 border-b block md:border-0">About</a></li>
            <li><a href={{ "/#publications" | absolute_url }} class="py-2 border-b block md:border-0">Publications</a></li>
            <li><a href={{ "/manual/index.html" | absolute_url }} class="py-2 border-b block md:border-0">Manual</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {{ content }}
  </body>
</html>



